build
node_modules
npm-debug.log
yarn-error.log
/dist
/.chromeDebug
/lib
docs/node_modules/
docs/.vuepress/dist/
/es
/types
/plugins
/demo/dist
/demo/src/ut_autoTest/*
coverage
.idea
.project
.history
webroot
.eslintcache
