.ant-rate {
    display: flex !important;
    width  : 100%;

    .ant-rate-star {
        flex: 1
    }
}

.m3-nps-wrapper {
    .m3-nps-tip {
        overflow: hidden;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        .m3-nps-tip-left {
            flex: 1;          
            text-align: left;
        }
        .m3-nps-tip-center {
            flex: 1;       
            padding: 0 10px;   
            text-align: center;
        }
        .m3-nps-tip-right {
            flex: 1;          
            text-align: right;
        }
    }

    .ant-rate {
        display: flex !important;
        width  : 100%;

        .ant-rate-star {
            & > div {
                text-align: center;
            }
        }
    }
}